//= normalize

@import url(http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic);
@import "compass/css3";
@import "compass/css3/user-interface";

/*html, body {
  width: 100%;
  height: 100%;
}*/

body {
  font-family: 'EB Garamond', serif;
  
  header, footer {
    @include box-sizing(border-box);
    position: absolute;
    right: 0;
    left: 0;
    height: 85px;
    padding: 15px 70px 15px 70px;
    
    h1 {
      margin: 4px 0 0 0;
      padding: 0;
      font-size: 32px;
      line-height: 34px;
      
      a {
        font-size: 32px;
        line-height: 34px;
        text-decoration: none;
      }
    }
    
    p, a {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #000;
    }
  }
  
  header {
    top: 0;
    
    > a {
      position: absolute;
      right: 70px;
      bottom: 11px;
      text-decoration: none;
    }
  }
  
  footer {
    bottom: 0;
    height: 65px;
  }
  
  section {
    position: absolute;
    top: 85px;
    right: 0;
    bottom: 65px;
    left: 0;
    overflow: hidden;
    
    .arrows {
      @include user-select(none);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #fff;
      font-size: 40px;
      line-height: 40px;
      
      .left, .right {
        @include transition-property(opacity);
        @include transition-duration(1s);
        @include transition-timing-function(ease-in);
        position: absolute;
        top: 50%;
        margin-top: -20px;
        cursor: pointer;
        z-index: 1;
      }
      
      .left {
        @include opacity(0);
        left: 10px;
      }
      
      .right {
        right: 10px;
      }
    }
    
    .slides {
      @include transition-property(left);
      @include transition-duration(1s);
      @include transition-timing-function(ease-in);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 99999px;
    }
    
    .slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(/images/texture.jpg) repeat center center;
      border-right: 1px solid #fff;
      
      .container {
        /*@include opacity(0);*/
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 1px;
        
        .image {
          @include single-box-shadow(rgba(0, 0, 0, 0.3), 0, 0, 3px, 1px);
          position: absolute;
          background: url(/images/loader.gif) no-repeat center center;
          background-color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
          
          .corner {
            position: absolute;
            left: -1%;
            bottom: -1%;
          }
        }
      }
      
      /* Containers */
      &:nth-child(1) {
        .container {
          background: url(/images/bg1.jpg) no-repeat left top;
          background-size: 100% 100%;
        }
      }
      &:nth-child(2) {
        .container {
          background: url(/images/bg2.jpg) no-repeat left top;
          background-size: 100% 100%;
        }
      }
      &:nth-child(3) {
        .container {
          background: url(/images/bg3.jpg) no-repeat left top;
          background-size: 100% 100%;
        }
      }
      &:nth-child(4) {
        .container {
          background: url(/images/bg4.jpg) no-repeat left top;
          background-size: 100% 100%;
        }
      }
      &:nth-child(5) {
        .container {
          background: url(/images/bg5.jpg) no-repeat left top;
          background-size: 100% 100%;
        }
      }
    }
  }
  
  .lightbox {
    @include box-sizing(border-box);
    display: none;
    position: absolute;
    top: 85px;
    right: 0;
    bottom: 65px;
    left: 0;
    padding: 45px 100px 45px 100px;
    background: rgba(69, 69, 69, 0.9);
    color: #fff;
    z-index: 2;
    
    .close {
      position: absolute;
      top: 45px;
      right: 100px;
      font-size: 1.5em;
      cursor: pointer;
    }
    
    h1, h2 {
      margin-top: 0;
      padding-top: 0;
      max-width: 80%;
    }
    
    p {
      max-width: 80%;
    }
    
    img {
      @include single-box-shadow(rgba(0, 0, 0, 0.3), 0, 0, 10px, 1px);
      max-width: 100%;
      max-height: 100%;
    }
    
    &.photo {
      text-align: center;
      
      h1, h2, p {
        max-width: 100%;
      }
      
      h1 {
        @include single-box-shadow(#734f43, 0, 0, 0, 3px, inset);
        @include border-radius(7px);
        display: inline-block;
        margin: 20px 0 0 0;
        background: #fff;
        border: 3px solid #fff;
        padding: 0 10px;
        color: #000;
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
  
  footer {
    
  }
}