//= normalize

@import url(http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic);
@import "compass/css3";

/*html, body {
  width: 100%;
  height: 100%;
}*/

body {
  font-family: 'EB Garamond', serif;
  
  header, footer {
    @include box-sizing(border-box);
    position: absolute;
    right: 0;
    left: 0;
    height: 85px;
    padding: 15px 70px 15px 70px;
    
    h1 {
      margin: 4px 0 0 0;
      padding: 0;
      font-size: 32px;
      line-height: 34px;
    }
    
    p, a {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #000;
    }
  }
  
  header {
    top: 0;
    
    a {
      position: absolute;
      right: 70px;
      bottom: 11px;
      text-decoration: none;
    }
  }
  
  footer {
    bottom: 0;
    height: 65px;
  }
  
  section {
    position: absolute;
    top: 85px;
    right: 0;
    bottom: 65px;
    left: 0;
    
    .slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(/images/texture.jpg) repeat center center;
      
      .container {
        /*@include opacity(0);*/
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 1px;
        
        .image {
          position: absolute;
        }
        
        /* Containers */
        &:nth-child(1) {
          background: url(/images/bg1.jpg) no-repeat left top;
          background-size: 100% 100%;
        }
      }
    }
  }
  
  footer {
    
  }
}